/* stylelint-disable no-descending-specificity -- https://github.com/stylelint/stylelint/issues/5065 */

/*
 * @theme one
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
*/

@import 'default';
@import 'schema';
@import 'structure';
@import 'typography';

:root {
  font-family: 'SF Pro Display', Inter, sans-serif;
  font-size: 31px;
  line-height: 1.4;
}

code {
  font-family: 'SF Mono', Hack, Monaco, 'JetBrainsMono Nerd Font',
    'Google Sans Mono', monospace;
  line-height: 1.3 !important;
  letter-spacing: -1px;
}
table {
  font-size: 0.85em;
}

section {
  padding: 1em 2.6em;
}
